:root{
  --primaryColor:#e68600;
}
body{
  word-wrap:break-word;
  font-size: minmax(10px,20px);
}

@media screen and (max-width:520px) {
   *{
     font-size: 3vw;
   }
   .btn1{
     width: 3vw;
   }
}
#carouselExampleControls{
  width:100%;
}
.crousel{
  display: flex;
  align-self: center;
  justify-content: space-around;
  margin-top:50px;
}


.carousel-item img{
  height: 65vh;
  width: 50vw;
  object-fit: contain;
}




.cartElements{
  
  display:grid;
  grid-template-columns: 40px 30% 20% 20% auto;
  justify-content:space-around;
  align-items: center;
  overflow:auto;
  text-align: center;
}

.modal-header{
  color: #e68600;
}

#cartSize{
  position: absolute;
  font-size: small;
  background-color: var(--primaryColor);
  padding: 0px 3px 0px 3px;
  border-radius: 5px;
  transform: translateX(20px) translateY(2px);
}
#exampleModal{
  font-size: 1.5em;
  width: 90vw;
}

.itemPrice{
  color: var(--primaryColor);
}
.Products{
  display:  grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,350px));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-around;
}
.Card{
  height:450px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  transition: 100ms ease;
}

.detailImg{
  height: 200px;
  object-fit: contain;
}
.Card:hover {
  border: 1px solid black;
  padding: 10px;
}

.cardBody{
  height: 100%;
}


.addToCart{
 
  opacity: 0%;
  background-color: var(--primaryColor);
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  z-index: 1;
}

.btn1 {
   background-color: transparent;
   border: none;
}
#LOGO{
  margin-left: 40vw;
}
#LOGO p{
  font-size: 1.2em;
  margin-bottom: 0px;
}
#logo-img{
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  height: 50px;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#CART{
  margin-right : 20px;
  font-size:1.3em;
  padding:4px;
  float:right;
}
.carousel-caption{
  width: 40vw;
  background-color:white;
  color:black;
}
.card-img-top{
  height: 80%;
  object-fit: contain;
}